<h2>Welcome to Star Wars Starship Depot</h2>
  <div class="container mt-3">
    <table class="table table-dark table-striped">
      <thead class="table-dark">
        <tr>
          <th>Name</th>
          <th>Model</th>
          <th>Manufacturer</th>
          <th>Crew</th>
        </tr>
        </thead>
        <tbody>
          
        <tr *ngFor="let yy of y">
          <td>{{yy.name}}</td>
          <td>{{yy.model}}</td>
          <td>{{yy.manufacturer}}</td> 
         <td>{{yy.crew}}</td>
        </tr>
      </tbody>
      </table>   
</div>











<router-outlet></router-outlet>